










# Backup Files
# CMake output files
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
# Executables
# HepMC output files
# Other temp files
# ROOT output files
# check output files
# root dictionaries
# working directories
*.a
*.app
*.dll
*.dylib
*.err
*.exe
*.hepmc
*.hepmc2
*.hepmc3
*.la
*.lai
*.lib
*.lo
*.log
*.o
*.o_hepmc2
*.obj
*.out
*.out
*.root
*.slo
*.so
*.so.*
*~
.build
.test
/.inst
/CPackConfig.cmake
/CPackSourceConfig.cmake
/install_manifest_devel.txt
CMakeCache.txt
CMakeFiles
CMakeFiles.txt
Makefile
build
cmake_install.cmake
examples/LHEFExample/LHEF_example_out.lhe
examples/xmldoc
install_manifest.txt
install_manifest_headers.txt
outputs
rootIO/rootIO_Classes.cxx
rootIO/rootIO_Classes.h
Testing/.*
Testing
test/CTestTestfile.cmaketest/fromfrominputIO3.hepevt
test/hepmc2_testPythia1
test/hepmc2_testPythia2
test/testDelete
test/testIO1
test/testIO3
test/testIO6
test/testLoops
test/testMass
test/testMultipleCopies
test/testPolarization
test/testPolarization1.dat
test/testPolarization2.dat
test/testPrintBug
test/testPythia1
test/testPythia1.config
test/testPythia1.input
test/testPythia2
test/testPythia2.config
test/testPythia2.input
test/testReaderFactory1
test/testThreads1
test/testUnits
test/testWeights
CTestTestfile.cmake
test/CTestTestfile.cmake
test/fromfrominputIO3.hepevt
