recursive-include cmake *
recursive-include src *
recursive-include doc *
recursive-include examples *
recursive-include include  *
recursive-include python  *
recursive-include search  *
recursive-include rootIO  *
include CMakeLists.txt
include README-for-developers
include README.md
include COPYING
include HepMC3-config.in
include *.cmake
prune CMakeFiles
prune */CMakeFiles
prune */*/CMakeFiles
prune */*/*/CMakeFiles
prune Debug
prune */*Debug
prune */*/*Debug
prune */*/*/*Debug
prune *.dir
prune */*.dir
prune */*/*.dir
prune */*/*/*.dir
prune outputs
global-exclude *vcxproj*
global-exclude *stamp*
prune doc/doxygen/html
prune python/2.*/pyHepMC3
prune python/3.*/pyHepMC3
prune python/*/Debug
recursive-exclude test  from*
recursive-exclude python/test  from*
